<div class="container">
  <div class="row">
    <div class="card pd10">
      <label for="">Search hero by name</label>
      <input #searchBox (input)="search(searchBox.value)" type="text" class="form-control" placeholder="Hero name">
    </div>
    <div *ngFor="let hero of heroes$ | async" class="card pointer-click">
      <div class="row" routerLink="/detail/{{hero.id}}">
        <div class="col-12 d-flex">
          <div class="id">
            <span> {{ hero.id }}</span>
          </div>
          <div class="name">
            <span>{{ hero.name }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>