<div class="container">
  <br>
  <div class="row">
    <div class="col-12 text-center">
      <br>
      <h3>MY HEROES</h3>
    </div>
    <div *ngFor="let hero of heroes" (click)="selectedHero(hero)" class="card pointer-click">
      <div class="row">
        <div [class.selected-id]="hero == selectedUniqueHero" class="col-1 hero-id">
          <span> {{ hero.id }}</span>
        </div>
        <div class="col-11">
          <span [class.selected]="hero == selectedUniqueHero">{{ hero.name }}</span>
        </div>
      </div>
    </div>
    <app-hero-detail [hero]="selectedUniqueHero"></app-hero-detail>
  </div>
</div>