/* You can add global styles to this file, and also import other style files */
.blue {
    color: #fff;
    background: #3066BE;
}

.font-blue {
    color: #3066BE;
}

.pointer-click {
    cursor: pointer;
}